{% extends "main/base.html" %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/error.css') }}">

{% endblock %}

{% block title %} Ошибка {% endblock %}

{% block content %}

<div class="jumbotron" style="background: rgba(255, 255, 255, 0.7);">
	<h1 class="display-4">
		Код ошибки
		{% block error_code %} {% endblock %}
	</h1>
	<p class="lead"> {% block error_message %}{% endblock %} </p>
	<hr class="my-4">
	<p class="lead">
		<a class="btn btn-secondary btn-lg" href="{{ url_for('main.index') }}"> На главную </a>
	</p>
</div>

{% endblock %}
