<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/f9633a328a.js"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/album.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/background.css') }}">

	{% block extra_css %} {% endblock %}

	<title>
		{% block title %} {% endblock %}
	</title>

</head>

<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 py-4 px-md-4 mb-3 bg-secondary border-bottom shadow-sm">
		<a class="mr-md-auto" href="#">
			<img src="{{ url_for('static', filename = 'images/emblem_195x195.png') }}" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
		</a>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-warning" href="https://hemero.ru/metalwar/personal.php?tag=LT88"> Ивент "Битва за металл" </a>
			<a class="p-2 text-white" href="#"> Новости </a>
			<a class="p-2 text-white" href="#"> Состав </a>
			{% if current_user.is_authenticated %}
				<a class="btn btn-outline-warning" href="{{ url_for('main.logout') }}">
					{{ current_user.nickname }}
					<i class="fa fa-user-o" aria-hidden="true"></i>
				</a>
				<a class="btn btn-outline-danger" href="{{ url_for('main.logout') }}"> Выйти </a>
			{% else %}
				<a class="btn btn-outline-success" href="{{ url_for('main.login') }}"> Войти </a>
			{% endif %}
		</nav>
	</div>

	{% block content %} {% endblock %}

	<footer class="bg-secondary py-3 text-white">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-sm-3">
					<a href="https://ru.wargaming.net/clans/wot/424896/">
						<img src="{{ url_for('static', filename = 'images/wot_logo.png') }}" width="50" height="50" alt="">
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://kttc.ru/wot/ru/clan/424896/">
						<img src="{{ url_for('static', filename = 'images/kttc_logo.png') }}" width="50" height="50" alt="">
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://hemero.ru/metalwar/personal.php?tag=LT88">
						<img src="{{ url_for('static', filename = 'images/hemero_logo.png') }}" width="50" height="50" alt="">
					</a>
				</div>
				<div class="col-sm-3">
					Made by
					<a class="text-warning" href="https://worldoftanks.ru/ru/community/accounts/8320241-9IqePHbIu_Fu3uK/">
						<b> 9IqePHbIu_Fu3uK </b>
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	{% block extra_javascript %} {% endblock %}

</body>

</html>
