body {
	background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.7);
}

.description {
	position: absolute;
	margin-top: 20rem;
	margin-left: 30rem;
}

.description h2 {
	color: #c60bd5;
}

.description p {
	color:#666;
	font-size: 20px;
	line-height: 1.5;
}

.description a {
	border:1px  solid #c60bd5;
	background: #c60bd5;
	color:#fff;
}
