.navbar {
	background: #c60bd5;
	height: 5rem;
}

.nav-link, .navbar-brand {
	color: #f4f4f4;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	background: #f4f4f4;
	color: #c60bd5;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-toggler {
	background: #fff !important;
}

.dropdown-menu {
	/* background: #F97300; */
}

.dropdown-item {
	width: auto;
	margin: .25rem .5rem;
	color: #f4f4f4;
	cursor: pointer;
}

.nav-item img {
	height: 3rem;
}
